body {
	color: #222;
	padding: 0;


	h1, {
		font-size: 30px;
		font-weight: bold;
	}

	#CoinyPay {
		body {
			padding: 0;
		}

		#info {
			padding: 0px 20px ;
		}

		#body {
			padding: 20px;
			padding-top: 0;
			font-weight: 400;
			font-size: 13px;

			h3 {
				font-weight: bold;
				font-style: 15px;
				margin-bottom: 15px
			}
			table {
				margin: 0 auto;
				width: 95%;
				tr {
					border-bottom: 1px solid #f3f3f3
				}
				th, td {
					vertical-align: middle;
					padding: 3px 7px;
				}
				th {
					color: #aea37c;
					font-weight: bold;
					text-transform: uppercase;
				}
			}
		}

		div {
			margin: 0 auto;
			margin-bottom: 10px;
			display: block;
			text-align: center;
		}
		h3 {
			font-size: 15px;
			font-weight: bold;
		}
		.inputId {
			text-align: center;
			box-shadow: none;
			border: none;
			border-bottom: 2px solid #3f3f3f;
			margin: 20px 0;
			font-size: 15px;
			transition: 0.5s;
			&:focus {
					outline: none;
					box-shadow: none;
					transition: 0.5s;
					border-bottom: 2px solid red;
			}
		}
		button {
			margin: 10px;
	    width: 120px;
	    height: 40px;
	    font-size: 14px;
		}
		p {
			text-align: left;
		}

	}

	#app-container {
		text-align: center;
	}
}
